* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #d7fe3a;
    display: flex;
}

.sec {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: linear-gradient(45deg, #81b7d2, #ffffff);
}

.sec h2 {
    line-height: 1em;
    color: #ffffff;
    font-size: 14vw;
    font-weight: 800;
}

.sec2 {
    background: linear-gradient(130deg, #d5a6af, #ffffff);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

}

.sec2 h2 {
    color: #ffffff;
    font-size: 30vw;
}

#ampm {
    position: absolute;
    color: #ffffff;
    top: 40px;
    right: 40px;
    font-size: 6vw;
    font-weight: 600;
}

#dot {
    position: relative;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0%, 50% {
        opacity: 0
    }
    51%, 100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
    }
    .sec {
        width: 100%;
        height: 50%;
    }

    .sec h2 {
        font-size: 25vw;
    }
    .sec2 h2 {
        font-size: 50vw;
    }
    #ampm {
        top: 20px;
        right: 20px;
    }
}
