* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #16384c;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.card {
    position: relative;
    max-width: 300px;
    height: 240px;
    background-color: #ffffff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}

.card:hover {
    height: 420px;
}

.card .imgBox {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 8px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.imgBox img {
    width: 260px;
    border-radius: 4px;
    height: 260px;
}

.content {
    position: relative;
    visibility: hidden;
    text-align: center;
    margin-top: -120px;
    padding: 10px 15px;
    color: #111111;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -55px;
    transition-delay: 0.3s;
}

