* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background: #000000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ffffff;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 6px;
}

span {
    /*opacity: 0;*/
    transition: all 1s ease;
    /*transform: translateY(-50px);*/
    display: inline-block;
}

span.fade {
    /*opacity: 1;*/
    /*transform: translateY(0);*/
    color: #70caec;
}
