* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.imgBox {
    position: relative;
    width: 50%;
    height: 100vh;
}

.imgBox::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(225deg, #e91e63, #03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentBox {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.formBox {
    width: 50%;
}

.formBox h2 {
    color: #607d8b;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 1.5em;
    display: inline-block;
    border-bottom: 4px solid #ff4584;
    letter-spacing: 1px;
}

.inputBox {
    margin-bottom: 20px;
}

.inputBox span {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 300;
    color: #607d8b;
}

.inputBox input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    border: 1px solid #607d8b;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

.inputBox input[type='submit'] {
    background: #ff4584;
    color: #ffffff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.inputBox input[type='submit']:hover {
    background: #f53677;
}

.remember {
    font-weight: 400;
    font-size: 14px;
    color: #607d8b;
    margin-bottom: 10px;
}

.remember input {
    margin-right: 3px;
}

.inputBox p {
    color: #607d8b;
}

.inputBox p a {
    color: #ff4584;
}

@media (max-width: 768px) {
    .imgBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .contentBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .formBox {
        width: 100%;
        padding: 40px;
        margin: 50px;
        background: rgba(255, 255, 255, 0.9);
    }
}
